<div class="row">
    <div class="col-auto mr-auto">
         <h4 class="modal-title">Create Meeting</h4>
    </div>
    <div class="col-auto">
        <i class="fas fa-times"(click)="closewindow()"></i>
    </div>
</div>
    <table class="table table-hover">
           
            <tr *ngFor="let d of service.list">
                <td>
                    <label>Title : {{d.Title}}</label>
                </td>
                <td>
                    <label>MeetingNo : {{d.MeetingNo}}</label>
                </td>
                <td>
                    <label>Location : {{d.Location}}</label>
                </td>
                <td>
                    <label>Date : {{d.DMY}}</label>
                </td>
                <td>
                    <label>Detail : {{d.Details}}</label>
                    <div class="col-auto"> 
                        <button type="button" class="btn btn-outline-primary"(click)="edit(d)">Edit <i class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-outline-primary"(click)="onDelete(d.DetailId)"> Delete  <i class="far fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
    </table>


    
    
    

