
<form #form="ngForm" autocomplete="off"(submit)="onSubmit(form)">
    <input type="hidden" name="DetailId" [value]="service.formData.DetailId">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-align-left" [class.green-icon]="Title.valid"  [class.red-icon]="Title.invalid && Title.touched"></i>
                </div>
            </div>
            <input name="Title" #Title="ngModel" [(ngModel)]="service.formData.Title" class="form-control" placeholder="Title" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-globe" [class.green-icon]="MeetingNo.valid"  [class.red-icon]="MeetingNo.invalid && MeetingNo.touched"></i>
                </div>
            </div>
            <input name="MeetingNo" #MeetingNo="ngModel" [(ngModel)]="service.formData.MeetingNo" class="form-control" placeholder="MeetingNo" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-location-arrow" [class.green-icon]="Location.valid"  [class.red-icon]="Location.invalid && Location.touched"></i>
                </div>
            </div>
            <input name="Location" #Location="ngModel" [(ngModel)]="service.formData.Location" class="form-control" placeholder="Location" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="far fa-calendar-alt"  [class.green-icon]="DMY.valid" [class.red-icon]="DMY.invalid && DMY.touched"></i>
                </div>
            </div>
            <input name="DMY" #DMY="ngModel" [(ngModel)]="service.formData.DMY" class="form-control" placeholder="DD/MM/YY" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-quote-right" [class.green-icon]="Details.valid"  [class.red-icon]="Details.invalid && Details.touched"></i>
                </div>
            </div>
            <input name="Details" #Details="ngModel" [(ngModel)]="service.formData.Details" class="form-control" placeholder="Detail" required>
        </div>
    </div>
    <div class="form-group">
         <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">Submit</button>
     </div>
     <div class="form-group">
        <a class="btn btn-outline-primary"(click)="AddEditDetailList(null,service.formData.DetailId)"><i class="fas fa-database"></i> View Data</a>
     </div>
   
</form>
