<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Create Meeting</label>
    <ul>
<li><a class="active" href="#">Create Meeting</a></li>
<li><a href="#">Calendar</a></li>
<li><a href="#">History</a></li>
<li><a href="#">My Account</a></li>
<li><a href="#">Logout</a></li>

</ul>
</nav>
  <section></section>

<div class="jumbtron">
    <h1></h1>
    <div class="row">
        <div class="col-md-7 offset-md-6">
            <app-detail></app-detail>
        </div>
     </div>
</div>
